.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #14142c; 

  .form_content {
    width: 29vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 30px 0 20px 0;
    margin: 4.8vh 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

    button {
      width: 87%;
      height: 55px;
      font-size: 18px;
      color: #fff;
      background-color: rgba(96, 55, 194, 0.7);
      border: none;
      border-radius: 10px;
      margin-top: 5px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    }

    a {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 12px;
    }
  }
}
