.messages_card {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#14142c 20%, #242441 80%);
  border-radius: 20px;

  .messages_content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 12px;
  }

  .messages_content::-webkit-scrollbar {
    width: 8px;
  }

  .messages_content::-webkit-scrollbar-thumb {
    background-color: #404064;
    border-radius: 10px;
  }

  .no_message_content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: #c9c9c9;
      margin: 15px 0;
    }
  }
}
